Repository esarkarov/unify: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter frontend exec eslint --fix",
    "pnpm --filter frontend exec prettier --write"
  ],
  "apps/frontend/**/*.{json,md,css,scss,html,yml,yaml}": ["pnpm --filter frontend exec prettier --write"]
}

fix: update CI pipeline for monorepo and pnpm v10
  .github/workflows/pipline.yml
Due: none

fix: update package.json for CI pipeline
  package.json
Due: none

refactor: complete migration to pnpm workspace monorepo
  .lintstagedrc.json
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend exec prettier --write

chore: initialize backend setup
  .lintstagedrc.js
  .lintstagedrc.json
  apps/backend/.gitignore
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tsconfig.json
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend exec prettier --write

ci: add backend build job to pipeline
  .github/workflows/pipline.yml
Due: none

feat: integrate Drizzle ORM with Neon and initial schema
  apps/backend/.gitignore
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/config/drizzle.config.ts
  apps/backend/src/db/index.ts
  apps/backend/src/db/schema/app.ts
  apps/backend/src/db/schema/index.ts
  pnpm-lock.yaml
Due: none

fix: remove global .js ignore pattern to allow file linting
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/config/drizzle.config.ts
  apps/backend/src/db/schema/app.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend exec prettier --write

feat: add some subjects endpoints with vertical slice architecture with validation and logging
  apps/backend/.gitignore
  apps/backend/eslint.config.js
  apps/backend/package.json
  apps/backend/src/config/drizzle.config.ts
  apps/backend/src/db/schema/app.ts
  apps/backend/src/features/departments/departments.schema.ts
  apps/backend/src/features/departments/departments.types.ts
  apps/backend/src/features/subjects/index.ts
  apps/backend/src/features/subjects/subjects.controller.ts
  apps/backend/src/features/subjects/subjects.repository.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/features/subjects/subjects.schema.ts
  apps/backend/src/features/subjects/subjects.service.ts
  apps/backend/src/features/subjects/subjects.types.ts
  apps/backend/src/features/subjects/subjects.validation.ts
  apps/backend/src/index.ts
  apps/backend/src/server.ts
  apps/backend/src/shared/db/index.ts
  apps/backend/src/shared/db/schema/app.ts
  apps/backend/src/shared/db/schema/index.ts
  apps/backend/src/shared/logger/index.ts
  apps/backend/src/shared/middlewares/error.middleware.ts
  apps/backend/src/shared/middlewares/request-logger.middleware.ts
  apps/backend/src/shared/middlewares/validation.middleware.ts
  apps/backend/src/shared/utils/index.ts
  pnpm-lock.yaml
Due: none

fix: configure eslint for TypeScript and add missing ignores
  .github/workflows/pipline.yml
  .lintstagedrc.js
  apps/backend/eslint.config.js
  apps/backend/src/features/departments/departments.schema.ts
  apps/backend/src/features/subjects/subjects.controller.ts
  apps/backend/src/features/subjects/subjects.repository.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/features/subjects/subjects.schema.ts
  apps/backend/src/features/subjects/subjects.service.ts
  apps/backend/src/features/subjects/subjects.types.ts
  apps/backend/src/features/subjects/subjects.validation.ts
  apps/backend/src/server.ts
  apps/backend/src/shared/db/schema/common.schema.ts
  apps/backend/src/shared/db/schema/index.ts
  apps/backend/src/shared/logger/index.ts
  apps/backend/src/shared/middlewares/error.middleware.ts
  apps/backend/src/shared/middlewares/request-logger.middleware.ts
  apps/backend/src/shared/middlewares/validation.middleware.ts
  apps/backend/src/shared/utils/index.ts
  apps/frontend/package.json
Due: pnpm --filter frontend exec prettier --write

fix: resolve read-only property assignment error in middleware
  apps/backend/src/server.ts
  apps/backend/src/shared/middlewares/validation.middleware.ts
Due: none

feat: integrate TanStack Query with Refine Core data provider with getList and create hooks
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/features/departments/types/index.ts
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
  apps/frontend/src/features/subjects/types/index.ts
  apps/frontend/src/shared/providers/data.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

fix: resolves ESLint parsing error for vite config file
  apps/frontend/eslint.config.js
  apps/frontend/tsconfig.json
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add departments router with list and create endpoints
  apps/backend/src/features/departments/departments.controller.ts
  apps/backend/src/features/departments/departments.repository.ts
  apps/backend/src/features/departments/departments.routes.ts
  apps/backend/src/features/departments/departments.service.ts
  apps/backend/src/features/departments/departments.types.ts
  apps/backend/src/features/departments/departments.validation.ts
  apps/backend/src/features/departments/index.ts
  apps/backend/src/features/subjects/index.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/server.ts
  apps/frontend/src/features/departments/types/index.ts
  apps/frontend/src/shared/providers/data.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

fix: resolve res.status error by fixing error handler arguments
  apps/backend/eslint.config.js
  apps/backend/src/server.ts
  apps/backend/src/shared/middlewares/error.middleware.ts
  apps/backend/src/shared/middlewares/not-found.middleware.ts
  apps/backend/src/shared/middlewares/request-logger.middleware.ts
  apps/backend/src/shared/middlewares/validation.middleware.ts
Due: none

feat: integrate useList hook to populate department dropdown in subject create form
  apps/frontend/src/features/subjects/pages/SubjectCreatePage.tsx
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add form submission logic for creating new subjects
  apps/frontend/src/features/subjects/pages/SubjectCreatePage.tsx
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add DepartmentsListPage component for displaying departments data on UI
  apps/frontend/src/App.tsx
  apps/frontend/src/features/departments/pages/DepartmentCreatePage.tsx
  apps/frontend/src/features/departments/pages/DepartmentDetailsPage.tsx
  apps/frontend/src/features/departments/pages/DepartmentsListPage.tsx
  apps/frontend/src/features/departments/types/index.ts
  apps/frontend/src/features/departments/validation/index.ts
  apps/frontend/src/shared/providers/data.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add DepartmentCreatePage component
  apps/frontend/src/features/departments/pages/DepartmentCreatePage.tsx
  apps/frontend/src/features/departments/validation/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add form submission logic for creating new departments
  apps/frontend/src/features/departments/pages/DepartmentCreatePage.tsx
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

refactor: optimize data provider structure for better maintainability
  apps/frontend/src/features/subjects/constants/index.ts
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
  apps/frontend/src/shared/constants/index.ts
  apps/frontend/src/shared/providers/constants.ts
  apps/frontend/src/shared/providers/data.ts
  apps/frontend/src/shared/providers/helpers.ts
  apps/frontend/src/shared/providers/types.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

refactor: improve logic, structure and accessibility for subject and departments spesific components
  apps/frontend/src/features/departments/components/organisms/DepartmentForm.tsx
  apps/frontend/src/features/departments/constants/index.ts
  apps/frontend/src/features/departments/pages/DepartmentCreatePage.tsx
  apps/frontend/src/features/departments/pages/DepartmentsListPage.tsx
  apps/frontend/src/features/subjects/components/molecules/DepartmentFilter.tsx
  apps/frontend/src/features/subjects/components/organisms/SubjectForm.tsx
  apps/frontend/src/features/subjects/components/organisms/SubjectListFilters.tsx
  apps/frontend/src/features/subjects/constants/index.ts
  apps/frontend/src/features/subjects/pages/SubjectCreatePage.tsx
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
  apps/frontend/src/shared/components/atoms/RequiredMark.tsx
  apps/frontend/src/shared/components/molecules/SearchInput.tsx
  apps/frontend/src/shared/constants/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: implement Swagger/OpenAPI documentation at /api-docs
  apps/backend/package.json
  apps/backend/src/features/departments/departments.routes.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/server.ts
  apps/backend/src/shared/config/drizzle.config.ts
  apps/backend/src/shared/config/swagger.config.ts
  pnpm-lock.yaml
Due: none

feat: implement rate limiting and HTTP security practices
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/backend/src/shared/config/cors.config.ts
  apps/backend/src/shared/config/helmet.config.ts
  apps/backend/src/shared/config/security.config.ts
  apps/backend/src/shared/middlewares/not-found.middleware.ts
  apps/backend/src/shared/middlewares/security.middleware.ts
  pnpm-lock.yaml
Due: none

feat: implement Cloudinary API integration with preview and delete functionality
  apps/frontend/index.html
  apps/frontend/src/shared/components/molecules/UploadDropzone.tsx
  apps/frontend/src/shared/components/molecules/UploadPreview.tsx
  apps/frontend/src/shared/components/organisms/UploadWidget.tsx
  apps/frontend/src/shared/constants/index.ts
  apps/frontend/src/shared/hooks/use-cloudinary-delete.ts
  apps/frontend/src/shared/hooks/use-cloudinary-widget.ts
  apps/frontend/src/shared/types/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add ClassCreatePage and ClassesListPage components
  apps/frontend/src/App.tsx
  apps/frontend/src/features/classes/pages/ClassCreatePage.tsx
  apps/frontend/src/features/classes/pages/ClassDetailsPage.tsx
  apps/frontend/src/features/classes/pages/ClassesListPage.tsx
  apps/frontend/src/features/classes/types/index.ts
  apps/frontend/src/features/classes/validation/index.ts
  apps/frontend/src/shared/components/organisms/UploadWidget.tsx
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add classes, enrollments, and auth database schemas
  apps/backend/src/features/classes/classes.schema.ts
  apps/backend/src/features/classes/classes.types.ts
  apps/backend/src/features/enrollments/enrollments.schema.ts
  apps/backend/src/features/enrollments/enrollments.types.ts
  apps/backend/src/features/subjects/subjects.schema.ts
  apps/backend/src/shared/config/drizzle.config.ts
  apps/backend/src/shared/db/schema/auth.schema.ts
  apps/backend/src/shared/db/schema/common.schema.ts
  apps/backend/src/shared/db/schema/index.ts
  apps/backend/src/shared/types/index.ts
Due: none

feat: add subject details, classes, and users api endpoints
  apps/backend/src/features/subjects/subjects.controller.ts
  apps/backend/src/features/subjects/subjects.repository.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/features/subjects/subjects.service.ts
  apps/backend/src/features/subjects/subjects.types.ts
  apps/backend/src/features/subjects/subjects.validation.ts
  apps/backend/src/shared/types/express.d.ts
Due: none

feat: add department details, subjects, classes and users api endpoints
  apps/backend/src/features/classes/classes.schema.ts
  apps/backend/src/features/departments/departments.controller.ts
  apps/backend/src/features/departments/departments.repository.ts
  apps/backend/src/features/departments/departments.routes.ts
  apps/backend/src/features/departments/departments.service.ts
  apps/backend/src/features/departments/departments.types.ts
  apps/backend/src/features/departments/departments.validation.ts
  apps/backend/src/features/subjects/subjects.validation.ts
Due: none

refactor: remove nested endpoints from departments and subjects
  apps/backend/src/features/departments/departments.controller.ts
  apps/backend/src/features/departments/departments.repository.ts
  apps/backend/src/features/departments/departments.routes.ts
  apps/backend/src/features/departments/departments.service.ts
  apps/backend/src/features/subjects/subjects.controller.ts
  apps/backend/src/features/subjects/subjects.repository.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/features/subjects/subjects.service.ts
Due: none

feat: feat: add better-auth integration for user authentication
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/backend/src/shared/lib/auth.ts
  pnpm-lock.yaml
Due: none

feat: add frontend authentication with better-auth
  apps/backend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/features/auth/pages/LoginPage.tsx
  apps/frontend/src/features/auth/pages/RegisterPage.tsx
  apps/frontend/src/shared/constants/index.ts
  apps/frontend/src/shared/lib/auth-client.ts
  apps/frontend/src/shared/lib/query-client.ts
  apps/frontend/src/shared/providers/auth.ts
  apps/frontend/src/shared/providers/constants.ts
  apps/frontend/src/shared/providers/helpers.ts
  apps/frontend/src/shared/types/index.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

fix: add missing timestamp columns and sync database
  apps/backend/package.json
  apps/backend/src/features/classes/classes.schema.ts
  apps/backend/src/features/enrollments/enrollments.schema.ts
  apps/backend/src/shared/db/schema/auth.schema.ts
  pnpm-lock.yaml
Due: none

feat: add subject classes, users api endpoints and details page for displaying data on UI
  apps/backend/src/features/subjects/subjects.controller.ts
  apps/backend/src/features/subjects/subjects.repository.ts
  apps/backend/src/features/subjects/subjects.routes.ts
  apps/backend/src/features/subjects/subjects.service.ts
  apps/backend/src/features/subjects/subjects.types.ts
  apps/backend/src/shared/config/security.config.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/features/subjects/pages/SubjectDetailsPage.tsx
  apps/frontend/src/features/subjects/types/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

refactor: improve logic, structure and accessibility for SubjectDetailsPage component
  apps/frontend/src/features/subjects/components/atoms/StatusBadge.tsx
  apps/frontend/src/features/subjects/components/molecules/UserAvatarCell.tsx
  apps/frontend/src/features/subjects/components/organisms/DataTableSection.tsx
  apps/frontend/src/features/subjects/components/organisms/DepartmentSection.tsx
  apps/frontend/src/features/subjects/components/organisms/InfoCard.tsx
  apps/frontend/src/features/subjects/components/organisms/SubjectOverviewSection.tsx
  apps/frontend/src/features/subjects/config/index.tsx
  apps/frontend/src/features/subjects/constants/index.ts
  apps/frontend/src/features/subjects/hooks/use-subject-tables.ts
  apps/frontend/src/features/subjects/pages/SubjectCreatePage.tsx
  apps/frontend/src/features/subjects/pages/SubjectDetailsPage.tsx
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
  apps/frontend/src/features/subjects/types/index.ts
  apps/frontend/src/features/subjects/utils/index.ts
  apps/frontend/src/shared/components/molecules/LoadingErrorState.tsx
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add department classes, subjects, users api endpoints and details page for displaying data on UI
  apps/backend/src/features/departments/departments.controller.ts
  apps/backend/src/features/departments/departments.repository.ts
  apps/backend/src/features/departments/departments.routes.ts
  apps/backend/src/features/departments/departments.service.ts
  apps/backend/src/features/departments/departments.types.ts
  apps/backend/src/features/departments/departments.validation.ts
  apps/frontend/src/features/departments/pages/DepartmentDetailsPage.tsx
  apps/frontend/src/features/departments/types/index.ts
  apps/frontend/src/features/subjects/types/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

refactor: improve logic, structure and accessibility for DepartmentDetailsPage component
  apps/backend/src/shared/types/express.d.ts
  apps/frontend/src/features/departments/components/organisms/DepartmentStatsSection.tsx
  apps/frontend/src/features/departments/config/index.tsx
  apps/frontend/src/features/departments/hooks/use-department-tables.ts
  apps/frontend/src/features/departments/pages/DepartmentDetailsPage.tsx
  apps/frontend/src/features/departments/pages/DepartmentsListPage.tsx
  apps/frontend/src/features/subjects/components/organisms/DepartmentSection.tsx
  apps/frontend/src/features/subjects/components/organisms/SubjectOverviewSection.tsx
  apps/frontend/src/features/subjects/config/index.tsx
  apps/frontend/src/features/subjects/constants/index.ts
  apps/frontend/src/features/subjects/hooks/use-subject-tables.ts
  apps/frontend/src/features/subjects/pages/SubjectDetailsPage.tsx
  apps/frontend/src/features/subjects/pages/SubjectsListPage.tsx
  apps/frontend/src/features/subjects/types/index.ts
  apps/frontend/src/features/subjects/utils/index.ts
  apps/frontend/src/shared/components/atoms/StatusBadge.tsx
  apps/frontend/src/shared/components/molecules/StatCard.tsx
  apps/frontend/src/shared/components/molecules/UserAvatarCell.tsx
  apps/frontend/src/shared/components/organisms/DataTableSection.tsx
  apps/frontend/src/shared/components/organisms/InfoCard.tsx
  apps/frontend/src/shared/lib/utils.ts
  apps/frontend/src/shared/types/index.ts
Due: pnpm --filter frontend exec eslint --fix, pnpm --filter frontend exec prettier --write

feat: add classes api endpoints
  apps/backend/src/features/classes/classes.controller.ts
  apps/backend/src/features/classes/classes.repository.ts
  apps/backend/src/features/classes/classes.routes.ts
  apps/backend/src/features/classes/classes.service.ts
  apps/backend/src/features/classes/classes.types.ts
  apps/backend/src/features/classes/classes.validation.ts
  apps/backend/src/features/classes/index.ts
  apps/backend/src/features/departments/departments.validation.ts
  apps/backend/src/features/subjects/subjects.validation.ts
  apps/backend/src/server.ts
  apps/backend/src/shared/types/index.ts
Due: none

feat: add enrollments api endpoints
  apps/backend/src/features/enrollments/enrollments.controller.ts
  apps/backend/src/features/enrollments/enrollments.repository.ts
  apps/backend/src/features/enrollments/enrollments.routes.ts
  apps/backend/src/features/enrollments/enrollments.service.ts
  apps/backend/src/features/enrollments/enrollments.types.ts
  apps/backend/src/features/enrollments/enrollments.validation.ts
  apps/backend/src/features/enrollments/index.ts
  apps/backend/src/server.ts
Due: none

feat: add users api endpoints
  apps/backend/src/features/users/index.ts
  apps/backend/src/features/users/users.controller.ts
  apps/backend/src/features/users/users.repository.ts
  apps/backend/src/features/users/users.routes.ts
  apps/backend/src/features/users/users.service.ts
  apps/backend/src/features/users/users.types.ts
  apps/backend/src/features/users/users.validation.ts
  apps/backend/src/server.ts
  apps/backend/src/shared/config/cors.config.ts
Due: none
